body {
  background-color: hsl(185, 75%, 39%);
  font-size: 1.125em;
  text-align: center;
  line-height: 2;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}

.profileContent {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileCard {
  overflow: hidden;
  /* height: 475px; */
  height: 29.6875rem;
  width: 332px;
  z-index: 1;
}

p,
hr {
  margin: 0;
}

#profileImage {
  position: relative;
  bottom: 40px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #ffffff;
  background: #ffffff;
}

.topPattern {
  position: absolute;
  bottom: 42%;
  right: 51%;
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topCard {
  background: url(/images/bg-pattern-card.svg);
  height: 150px;
  border-radius: 15px 15px 0 0;
  margin-top: 0%;
}

.middleCard {
  background: #ffffff;
  height: 190px;
}

.bottomCard {
  background: #ffffff;
  height: 80px;
  border-radius: 0 0 15px 15px;
  padding-bottom: 20px;
  border-top: 1px solid hsl(0, 1%, 37%);
}

.bottomCard p {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 30%;
  font-weight: 700;
}

.bottomCard p span {
  display: block;
  line-height: 0.5;
  font-weight: normal;
  font-size: 0.75rem;
  color: hsl(0, 0%, 59%);
}

.bottomPattern {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.name {
  font-weight: bold;
  position: relative;
  bottom: 30px;
}

.location {
  position: relative;
  bottom: 35px;
  color: hsl(0, 0%, 59%);
  font-size: 0.9rem;
}

.age {
  font-weight: normal;
  color: hsl(0, 0%, 59%);
  padding-left: 5px;
}
