body {
  background-color: hsl(185, 75%, 39%);
  font-size: 1.125em;
  text-align: center;
  line-height: 2;
  margin-top: 10%;
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  width: 100%;
}

p,
hr {
  margin: 0;
}

#profileImage {
  position: relative;
  bottom: 40px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #ffffff;
  background: #ffffff;
}

.topPattern {
  background: url("/images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 978px;
  position: absolute;
  bottom: 17%;
  left: -26%;
  z-index: -10;
}

.container {
  margin: auto auto;
  width: 30%;
  padding: 5px;
  position: relative;
}

.topCard {
  background: url(/images/bg-pattern-card.svg);
  height: 150px;
  border-radius: 15px 15px 0 0;
  margin-top: 0%;
}

.middleCard {
  background: #ffffff;
  height: 190px;
}

.bottomCard {
  background: #ffffff;
  height: 80px;
  border-radius: 0 0 15px 15px;
  padding-bottom: 20px;
}

.bottomCard div {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 30%;
  font-weight: 700;
}

.bottomCard div span {
  display: block;
  line-height: 0.5;
  font-weight: normal;
  font-size: 0.75rem;
  color: hsl(0, 0%, 59%);
}

.bottomPattern {
  background: url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 68%;
  left: 50%;
  height: 76%;
  z-index: -10;
  width: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.name {
  font-weight: bold;
  position: relative;
  bottom: 30px;
}

.location {
  position: relative;
  bottom: 35px;
  color: hsl(0, 0%, 59%);
  font-size: 0.9rem;
}

.age {
  font-weight: normal;
  color: hsl(0, 0%, 59%);
  padding-left: 5px;
}

/*Laptop portrait and landscape*/
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .topPattern {
    left: -30rem;
    width: 100%;
  }

  .container {
    margin: 0 auto;
    width: 35%;
  }

  .bottomPattern {
    top: 58%;
    height: 94%;
    /*left: 40%;
     width: 60%;
     */
  }
}

/*Laptop portrait and landscape*/
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .topPattern {
    left: -36rem;
    width: 130%;
  }

  .container {
    margin: 0 auto;
    width: 45%;
  }

  .bottomPattern {
    top: 61%;
    left: 51%;
    width: 49%;
    height: 93%;
  }
}

/*Tablet/iPads portrait and landscape*/
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .topPattern {
    left: -42rem;
    width: 130%;
  }

  .container {
    margin: 0 auto;
    width: 48%;
  }

  .bottomPattern {
    top: 74%;
    left: 44%;
    width: 56%;
    height: 85%;
  }
}

/*smaller Tablet/iPads portrait and landscape*/
@media only screen and (min-width: 569px) and (max-width: 767px) {
  .topPattern {
    left: -45rem;
    width: 140%;
  }

  .container {
    margin: 0 auto;
    width: 60%;
  }

  .bottomPattern {
    top: 67%;
    left: 41%;
    width: 60%;
    height: 102%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 766px) {
  .topPattern {
    left: -48rem;
    width: 190%;
  }

  .container {
    margin: 0 auto;
    width: 60%;
  }

  .bottomPattern {
    top: 63%;
    left: 40%;
    width: 60%;
    height: 102%;
  }
}
